<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 style="color:#F8F8F8;" class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
                    <div class="social">
                        <ul class="list-linear">
                            <li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>
                            <li><div class="twitter-follow"><a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="true" data-lang="en"></a></div></li>
                            <li><div class="fb-like" data-href="{{ post.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
                            <li><div class="fb-follow" data-href="https://www.facebook.com/sbbharath" data-width="100" data-height="10" data-colorscheme="light" data-layout="button_count" data-show-faces="true"></div></li>
                        </ul>
                    </div>
                    {% include JB/comments %}
				</div><!-- entry-content -->
			</div><!-- bd -->

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<p class="gotop">
						<a href="#page">Back to Top</a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
